# node package manager run commands - npm 配置
# pnpm 项目中，主要负责镜像源管理、认证管理

# 镜像源
registry = https://registry.npmmirror.com/

# better-sqlite3 预构建镜像（解决 GitHub 下载超时）
# better-sqlite3 node安装只安装了胶水，其 .node 核心逻辑需要进行构建，
# 而本地构建需要 Visual Studio，太麻烦了，因此选择直接下载预构建的镜像文件
# 如果还是失败报错，就在控制台里这样：
# ```powershell
# # 1. 临时设置url
# $env:npm_config_better_sqlite3_binary_host = "https://registry.npmmirror.com/-/binary/better-sqlite3"
# # 2. 再次重新构建，并输出详细信息
# pnpm rebuild better-sqlite3 --verbose
# ```
# 也可以全局设置：
# ```powershell
# pnpm config set better-sqlite3_binary_host https://registry.npmmirror.com/-/binary/better-sqlite3
# ```
better_sqlite3_binary_host = https://registry.npmmirror.com/-/binary/better-sqlite3
